<div class="prose mx-10">
  <h2>Edit Fake Set</h2>

  <%= link_to "â† Fake Sets",
    fake_sets_path, 
    class: "btn btn-sm rounded not-prose mt-2" %>

  <div data-controller="list">
    <%= render 'form', fake_set: @fake_set %>
    <%= render 'types_lists/list', types_list: @types_list %>
  </div>
</div>

