<dialog id="my_modal_types" class="modal modal-bottom">
  <div class="bg-white w-full h-5/6 overflow-auto">
    <div class="flex justify-between items-center w-full px-10">
      <h3 class="font-bold text-lg">Select a Type</h3>
      <form method="dialog">
        <button class="btn btn-sm btn-circle btn-outline fixed">✕</button>
      </form>
    </div>
    <p class="py-4">Press ESC key or click the button below to close</p>
    <div>
      Put a Search box here
    </div>
    <div class="prose w-full grid grid-cols-3 gap-4 mx-auto" onclick="my_modal_types.close()">
      <% types_list.each do |type| %>
        <div>
          <dl>
            <dt><%= type.name %></dt>
            <% type.sub_types.each do |stype| %>
              <dd
                class="bg-base-200 rounded-sm hover:bg-base-300 hover:cursor-pointer hover:font-medium"
                id="<%= stype %>"
                data-action="click->list#selectType">
                <%= stype.titleize %>
              </dd>
            <% end %>
          </dl>
        </div>
      <% end %>
    </div>
  </div>
</dialog>
